<br>
<div align="right">Intervenant : Yacine Drideche & Ali Boujaite</div>
<div align="right">Year : 2022</div><br><br><br>
<div align="center"><span style="font-family:Lucida Caligraphy;font-size:32px;color:blue">Data Lead Project </span></div><br><br>
<div align="center"><span style="font-family:Lucida Caligraphy;font-size:24px;color:#e60000">Netflix Movie Recommendation in Real Time</span></div><br><br>
<hr>

# Packages

In [4]:
import pandas as pd
import numpy as np
import math
import re
import os
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import json

from datetime import datetime
import random
import matplotlib
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity
import pickle

# Functions

In [1]:
def text_to_df(name):
    '''
    ouvre un fichier texte pour le transformer DataFrame selon le format souhaité
    args:
        name : nom du fichier a lire
    '''
    dict1 = {}
    with open(fr".\data_source\{name}.txt") as fh:

        for line in fh:

            # reads each line and trims of extra the spaces
            # and gives only the valid words
            #command, description = line.strip().split(None, 1)
            line =line.replace('\n','')
            if re.findall('[0-9]+:', line):
                movie_num = line.strip(':')
                dict1[movie_num]=[]

            if not re.findall('[0-9]+:', line):
                #custumer_id, year = line.split(',')
                dict1[movie_num].append(line) 




        #print(dict1)
        array_rating =[]
        array_movie=[]
        array_cusumer_id=[]
        array_year=[]

        for key in dict1:
            for key_array in dict1[key]:
                #print(key_array)
                custumer_id,rating, year = key_array.split(',')
                array_movie.append(key)
                array_cusumer_id.append(custumer_id)
                array_rating.append(rating)
                array_year.append(year)

        d = {'Movie_ID': array_movie, 'User_ID': array_cusumer_id,'Rating':array_rating,'date': array_year }
        df_qualifying = pd.DataFrame(data=d)

    return df_qualifying

# Data

In [6]:
#Read and combine all the sources in the right format :
# combine_data_all = text_to_df('combined_data_1')

#CSV to DataFrame :
df_combine_data = pd.read_csv(".\data_work\combine_data_all.csv")

In [7]:
#Choosing KPI :
df = df_combine_data[['movie_id', 'user_id', 'rating', 'date']]

#Rename the comlumns :
df.columns = ['Movie_ID', 'User_ID', 'Rating', 'date']

#Apply a Datetime format :
df["date"] = pd.to_datetime(df["date"])

c:\Users\Boujaite Ali\Anaconda3\envs\mlflow-env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# Basic Statistics

In [8]:
df.head()

   Movie_ID  User_ID  Rating       date
0         1  1488844       3 2005-09-06
1         1   822109       5 2005-05-13
2         1   885013       4 2005-10-19
3         1    30878       4 2005-12-26
4         1   823519       3 2004-05-03

In [18]:
df.describe()["Rating"]

count    1.004805e+08
mean     3.604290e+00
std      1.085219e+00
min      1.000000e+00
25%      3.000000e+00
50%      4.000000e+00
75%      4.000000e+00
max      5.000000e+00
Name: Rating, dtype: float64

In [9]:
df.dtypes #si le type est string changer avec les lignes de code ci-dessous :

# df['Movie_ID'] = df['Movie_ID'].astype(int)
# df['User_ID'] = df['User_ID'].astype(int)
# df['Rating'] = df['Rating'].astype(int)

Movie_ID             int64
User_ID              int64
Rating               int64
date        datetime64[ns]
dtype: object

In [10]:
print("-------------- Number of NaN values --------------\n"+str(df.isnull().sum()))
print("-------------- Total Data --------------")
print("Total number of movie ratings = "+str(df.shape[0]))
print("Number of unique users = "+str(len(np.unique(df["User_ID"]))))
print("Number of unique movies = "+str(len(np.unique(df["Movie_ID"]))))

-------------- Number of NaN values --------------
Movie_ID    0
User_ID     0
Rating      0
date        0
dtype: int64
-------------- Total Data --------------
Total number of movie ratings = 100480507
Number of unique users = 480189
Number of unique movies = 17770

# Creating USER-ITEM sparse matrix from data frame

In [5]:
#startTime = datetime.now()
print("Creating USER_ITEM sparse matrix for train Data")
if os.path.isfile(r".\data_work\TrainUISparseData.npz"):
    print("Sparse Data is already present in your disk, no need to create further. Loading Sparse Matrix")
    TrainUISparseData = sparse.load_npz(r".\data_work\TrainUISparseData.npz")
    print("Shape of Train Sparse matrix = "+str(TrainUISparseData.shape))
    
else:
    print("We are creating sparse data")
    TrainUISparseData = sparse.csr_matrix((df.Rating, (df.User_ID, df.Movie_ID)))
    print("Creation done. Shape of sparse matrix = "+str(TrainUISparseData.shape))
    print("Saving it into disk for furthur usage.")
    sparse.save_npz(r".\data_work\TrainUISparseData.npz", TrainUISparseData)
    print("Done\n")

#print(datetime.now() - startTime)

Creating USER_ITEM sparse matrix for train Data
Sparse Data is already present in your disk, no need to create further. Loading Sparse Matrix
Shape of Train Sparse matrix = (2649430, 17771)

In [12]:
row_index, col_index = TrainUISparseData.nonzero()
rows = np.unique(row_index)

In [11]:
print(TrainUISparseData)

  (6, 30)	3
  (6, 157)	3
  (6, 173)	4
  (6, 175)	5
  (6, 191)	2
  (6, 197)	3
  (6, 241)	3
  (6, 295)	4
  (6, 299)	3
  (6, 329)	4
  (6, 361)	3
  (6, 445)	3
  (6, 457)	5
  (6, 468)	3
  (6, 494)	3
  (6, 501)	3
  (6, 528)	4
  (6, 564)	4
  (6, 580)	3
  (6, 658)	3
  (6, 705)	3
  (6, 706)	3
  (6, 723)	3
  (6, 788)	3
  (6, 825)	3
  :	:
  (2649429, 15844)	5
  (2649429, 15952)	5
  (2649429, 16139)	4
  (2649429, 16242)	4
  (2649429, 16339)	4
  (2649429, 16377)	5
  (2649429, 16390)	5
  (2649429, 16438)	4
  (2649429, 16459)	4
  (2649429, 16668)	5
  (2649429, 16765)	5
  (2649429, 16792)	5
  (2649429, 16879)	3
  (2649429, 16882)	5
  (2649429, 16901)	4
  (2649429, 16922)	5
  (2649429, 17070)	4
  (2649429, 17088)	5
  (2649429, 17157)	3
  (2649429, 17308)	3
  (2649429, 17560)	5
  (2649429, 17580)	4
  (2649429, 17622)	4
  (2649429, 17627)	3
  (2649429, 17692)	2

nous calculons la similarité cosinus entre les n vecteurs non nuls de la sparse matrice :

In [13]:
start = datetime.now()

if not os.path.isfile(r".\data_work\m_m_similarity.npz"):
    print("Movie-Movie Similarity file does not exist in your disk. Creating Movie-Movie Similarity Matrix...")
    
    m_m_similarity = cosine_similarity(TrainUISparseData.T, dense_output = False)
    print("Done")
    print("Dimension of Matrix = {}".format(m_m_similarity.shape))
    print("Storing the Movie Similarity matrix on disk for further usage")
    sparse.save_npz(r".\data_work\m_m_similarity.npz", m_m_similarity)
else:
    print("File exists in the disk. Loading the file...")
    m_m_similarity = sparse.load_npz(r".\data_work\m_m_similarity.npz")
    print("Dimension of Matrix = {}".format(m_m_similarity.shape))
    
print(datetime.now() - start)

Movie-Movie Similarity file does not exist in your disk. Creating Movie-Movie Similarity Matrix...
Done
Dimension of Matrix = (17771, 17771)
Storing the Movie Similarity matrix on disk for further usage
0:22:25.598621

nous cherchons les 3 films les plus similaire selon le **cosinus similarity** et on l'integre un dictionnaire :

In [15]:
movie_ids = np.unique(m_m_similarity.nonzero())

similar_movies_dict = dict()
for movie in movie_ids:
    smlr = np.argsort(-m_m_similarity[movie].toarray().ravel())[1:3]
    similar_movies_dict[movie] = smlr

In [101]:
with open(r".\data_work\similar_movies_dict.pickle", 'wb') as handle:
    pickle.dump(similar_movies_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [102]:
similar_movie_pickle = pd.read_pickle(r".\data_work\similar_movies_dict.pickle")
movie_titles_df = pd.read_csv(r".\data_source\movie_titles.csv",sep = ",", header = None, names=['Movie_ID', 'Year_of_Release', 'Movie_Title'], index_col = "Movie_ID", encoding = "iso8859_2")

In [103]:
similar_movie_pickle

{1: 694,
 2: 11212,
 3: 7293,
 4: 4358,
 5: 5138,
 6: 15747,
 7: 6009,
 8: 14274,
 9: 11070,
 10: 5995,
 11: 7626,
 12: 90,
 13: 10352,
 14: 8252,
 15: 8279,
 16: 5481,
 17: 5730,
 18: 15064,
 19: 6417,
 20: 5726,
 21: 8486,
 22: 9073,
 23: 4495,
 24: 4281,
 25: 11470,
 26: 11910,
 27: 6154,
 28: 8743,
 29: 1460,
 30: 6206,
 31: 10788,
 32: 4266,
 33: 5297,
 34: 13009,
 35: 11806,
 36: 8628,
 37: 10679,
 38: 4093,
 39: 17425,
 40: 1158,
 41: 10332,
 42: 15323,
 43: 6938,
 44: 11789,
 45: 1862,
 46: 17591,
 47: 6710,
 48: 2654,
 49: 8587,
 50: 63,
 51: 15561,
 52: 8524,
 53: 4023,
 54: 921,
 55: 6923,
 56: 5224,
 57: 7773,
 58: 16698,
 59: 11602,
 60: 15761,
 61: 649,
 62: 9499,
 63: 1258,
 64: 5077,
 65: 4312,
 66: 527,
 67: 323,
 68: 14661,
 69: 11008,
 70: 12525,
 71: 3623,
 72: 3694,
 73: 12875,
 74: 14549,
 75: 15102,
 76: 9826,
 77: 10886,
 78: 551,
 79: 9042,
 80: 13751,
 81: 6534,
 82: 9851,
 83: 14963,
 84: 7278,
 85: 2591,
 86: 10323,
 87: 1752,
 88: 14061,
 89: 10531,
 90: 14689,
 91: 11558,
 92: 10535,
 93: 3188,
 94: 12157,
 95: 5120,
 96: 14556,
 97: 17681,
 98: 8508,
 99: 979,
 100: 12217,
 101: 5916,
 102: 3024,
 103: 13878,
 104: 2529,
 105: 15287,
 106: 16956,
 107: 11939,
 108: 2699,
 109: 13223,
 110: 4970,
 111: 2391,
 112: 8990,
 113: 11860,
 114: 10215,
 115: 15954,
 116: 6409,
 117: 15575,
 118: 16532,
 119: 2596,
 120: 14714,
 121: 17172,
 122: 8837,
 123: 8306,
 124: 8132,
 125: 1853,
 126: 9537,
 127: 15741,
 128: 11349,
 129: 10960,
 130: 15448,
 131: 1723,
 132: 9792,
 133: 14808,
 134: 15986,
 135: 3512,
 136: 2563,
 137: 10348,
 138: 15699,
 139: 10823,
 140: 11790,
 141: 867,
 142: 2258,
 143: 8596,
 144: 17678,
 145: 6896,
 146: 4466,
 147: 9698,
 148: 5055,
 149: 6781,
 150: 10183,
 151: 6232,
 152: 2212,
 153: 5002,
 154: 7466,
 155: 11333,
 156: 8960,
 157: 11556,
 158: 6538,
 159: 6241,
 160: 6958,
 161: 1784,
 162: 7068,
 163: 11862,
 164: 17517,
 165: 6834,
 166: 9950,
 167: 17292,
 168: 6804,
 169: 1919,
 170: 8129,
 171: 11882,
 172: 2648,
 173: 7141,
 174: 14114,
 175: 11064,
 176: 16582,
 177: 11497,
 178: 9016,
 179: 9349,
 180: 17353,
 181: 6161,
 182: 2669,
 183: 4202,
 184: 11291,
 185: 15285,
 186: 14967,
 187: 329,
 188: 2096,
 189: 2751,
 190: 10258,
 191: 12785,
 192: 10301,
 193: 8394,
 194: 8765,
 195: 14308,
 196: 11239,
 197: 9471,
 198: 633,
 199: 6099,
 200: 16719,
 201: 5516,
 202: 522,
 203: 6139,
 204: 594,
 205: 10266,
 206: 1126,
 207: 13740,
 208: 3003,
 209: 14214,
 210: 1162,
 211: 10132,
 212: 7286,
 213: 15805,
 214: 17347,
 215: 11726,
 216: 5589,
 217: 14227,
 218: 6116,
 219: 14893,
 220: 4850,
 221: 845,
 222: 7676,
 223: 10598,
 224: 14288,
 225: 9856,
 226: 7731,
 227: 1228,
 228: 10870,
 229: 17210,
 230: 17640,
 231: 14830,
 232: 5499,
 233: 5654,
 234: 6425,
 235: 8589,
 236: 14610,
 237: 3387,
 238: 16558,
 239: 7253,
 240: 13964,
 241: 6739,
 242: 13186,
 243: 5914,
 244: 14081,
 245: 12829,
 246: 15978,
 247: 13326,
 248: 17261,
 249: 63,
 250: 16843,
 251: 14288,
 252: 4906,
 253: 12139,
 254: 11430,
 255: 5607,
 256: 1408,
 257: 17321,
 258: 10888,
 259: 6064,
 260: 6052,
 261: 6812,
 262: 8349,
 263: 5319,
 264: 14980,
 265: 17483,
 266: 340,
 267: 3852,
 268: 9548,
 269: 6702,
 270: 12184,
 271: 3248,
 272: 17233,
 273: 9415,
 274: 16563,
 275: 8603,
 276: 975,
 277: 2827,
 278: 17121,
 279: 15859,
 280: 16826,
 281: 2216,
 282: 15281,
 283: 13383,
 284: 17272,
 285: 13795,
 286: 4855,
 287: 9678,
 288: 6187,
 289: 993,
 290: 5401,
 291: 14354,
 292: 16602,
 293: 10737,
 294: 15711,
 295: 10928,
 296: 11217,
 297: 290,
 298: 13044,
 299: 6206,
 300: 1685,
 301: 7996,
 302: 2453,
 303: 4500,
 304: 17311,
 305: 1518,
 306: 6100,
 307: 8836,
 308: 6261,
 309: 11913,
 310: 14830,
 311: 6329,
 312: 2122,
 313: 4656,
 314: 7638,
 315: 16057,
 316: 8580,
 317: 915,
 318: 10258,
 319: 8284,
 320: 11066,
 321: 10875,
 322: 8917,
 323: 4667,
 324: 16981,
 325: 2424,
 326: 17011,
 327: 16631,
 328: 7115,
 329: 788,
 330: 7828,
 331: 788,
 332: 15349,
 333: 500,
 334: 16113,
 335: 17362,
 336: 3200,
 337: 2945,
 338: 17177,
 339: 6835,
 340: 15355,
 341: 17168,
 342: 10761,
 343: 1880,
 344: 7576,
 345: 7865,
 346: 356,
 347: 10862,
 348: 11165,
 349: 13794,
 350: 4005,
 351: 7968,
 352: 6421,
 353: 2499,
 354: 8195,
 355: 7312,
 356: 2856,
 357: 12582,
 358: 12612,
 359: 7596,
 360: 9331,
 361: 2913,
 362: 4127,
 363: 11805,
 364: 14026,
 365: 679,
 366: 5810,
 367: 17508,
 368: 14860,
 369: 12165,
 370: 14687,
 371: 2772,
 372: 17416,
 373: 8558,
 374: 4140,
 375: 6387,
 376: 5921,
 377: 5034,
 378: 4396,
 379: 389,
 380: 12288,
 381: 13227,
 382: 9325,
 383: 744,
 384: 5084,
 385: 551,
 386: 7650,
 387: 12664,
 388: 6385,
 389: 379,
 390: 12191,
 391: 16436,
 392: 5615,
 393: 5243,
 394: 11114,
 395: 10353,
 396: 6926,
 397: 9393,
 398: 9331,
 399: 10247,
 400: 1912,
 401: 12678,
 402: 9305,
 403: 9383,
 404: 14292,
 405: 14040,
 406: 16357,
 407: 17617,
 408: 674,
 409: 8656,
 410: 11839,
 411: 14962,
 412: 959,
 413: 9170,
 414: 16379,
 415: 5213,
 416: 16703,
 417: 4780,
 418: 5583,
 419: 3934,
 420: 5884,
 421: 13016,
 422: 15753,
 423: 3383,
 424: 15733,
 425: 12335,
 426: 12277,
 427: 14870,
 428: 13480,
 429: 16755,
 430: 15001,
 431: 11295,
 432: 14766,
 433: 11005,
 434: 2030,
 435: 13850,
 436: 10747,
 437: 16590,
 438: 7655,
 439: 16855,
 440: 4893,
 441: 6898,
 442: 14241,
 443: 3371,
 444: 13961,
 445: 7600,
 446: 3975,
 447: 8591,
 448: 12257,
 449: 8059,
 450: 519,
 451: 13835,
 452: 12393,
 453: 13676,
 454: 15322,
 455: 3838,
 456: 1553,
 457: 14454,
 458: 10492,
 459: 4866,
 460: 3399,
 461: 13900,
 462: 2018,
 463: 16397,
 464: 4894,
 465: 12104,
 466: 8733,
 467: 14694,
 468: 3925,
 469: 2320,
 470: 10183,
 471: 1708,
 472: 7659,
 473: 3446,
 474: 7523,
 475: 4569,
 476: 2144,
 477: 9766,
 478: 9835,
 479: 11383,
 480: 719,
 481: 11861,
 482: 16343,
 483: 6350,
 484: 927,
 485: 15073,
 486: 11114,
 487: 7603,
 488: 9016,
 489: 5041,
 490: 4613,
 491: 12237,
 492: 17357,
 493: 15018,
 494: 5538,
 495: 13011,
 496: 7551,
 497: 12192,
 498: 12150,
 499: 759,
 500: 333,
 501: 3342,
 502: 6744,
 503: 10742,
 504: 16397,
 505: 689,
 506: 3238,
 507: 11855,
 508: 5371,
 509: 9114,
 510: 2833,
 511: 17428,
 512: 11023,
 513: 2508,
 514: 1647,
 515: 4362,
 516: 1470,
 517: 4144,
 518: 4029,
 519: 450,
 520: 14583,
 521: 12148,
 522: 15625,
 523: 7855,
 524: 12096,
 525: 66,
 526: 1229,
 527: 66,
 528: 3864,
 529: 9323,
 530: 12635,
 531: 11524,
 532: 16352,
 533: 6068,
 534: 17396,
 535: 9578,
 536: 4487,
 537: 14922,
 538: 16003,
 539: 15663,
 540: 1266,
 541: 10728,
 542: 9420,
 543: 8693,
 544: 13139,
 545: 2474,
 546: 12854,
 547: 706,
 548: 15956,
 549: 17440,
 550: 658,
 551: 12546,
 552: 9072,
 553: 10958,
 554: 2675,
 555: 3283,
 556: 1469,
 557: 9698,
 558: 14566,
 559: 6861,
 560: 4979,
 561: 13380,
 562: 1836,
 563: 6027,
 564: 8107,
 565: 8913,
 566: 10388,
 567: 8513,
 568: 5916,
 569: 13709,
 570: 15935,
 571: 11064,
 572: 10796,
 573: 16636,
 574: 9640,
 575: 657,
 576: 6916,
 577: 1513,
 578: 10649,
 579: 15846,
 580: 11165,
 581: 5123,
 582: 8562,
 583: 8006,
 584: 4374,
 585: 12285,
 586: 14491,
 587: 4548,
 588: 14427,
 589: 456,
 590: 9802,
 591: 10124,
 592: 12463,
 593: 17106,
 594: 17404,
 595: 15316,
 596: 15909,
 597: 7726,
 598: 15644,
 599: 1425,
 600: 3331,
 601: 4576,
 602: 2025,
 603: 991,
 604: 11002,
 605: 11113,
 606: 5543,
 607: 5054,
 608: 10632,
 609: 10482,
 610: 679,
 611: 820,
 612: 1327,
 613: 3574,
 614: 10688,
 615: 16992,
 616: 16360,
 617: 4864,
 618: 5550,
 619: 6892,
 620: 3194,
 621: 6972,
 622: 4754,
 623: 16621,
 624: 15981,
 625: 13549,
 626: 1904,
 627: 4955,
 628: 620,
 629: 2460,
 630: 13991,
 631: 3864,
 632: 17596,
 633: 1533,
 634: 15768,
 635: 2035,
 636: 5544,
 637: 8364,
 638: 1123,
 639: 10990,
 640: 14998,
 641: 4029,
 642: 2503,
 643: 10721,
 644: 14423,
 645: 897,
 646: 14342,
 647: 13711,
 648: 15390,
 649: 61,
 650: 3595,
 651: 10557,
 652: 689,
 653: 16706,
 654: 17110,
 655: 14562,
 656: 1657,
 657: 575,
 658: 14670,
 659: 4887,
 660: 10152,
 661: 12902,
 662: 16605,
 663: 1243,
 664: 14893,
 665: 8485,
 666: 1716,
 667: 9192,
 668: 9946,
 669: 10323,
 670: 13517,
 671: 14998,
 672: 4147,
 673: 8072,
 674: 12661,
 675: 12701,
 676: 3988,
 677: 16175,
 678: 5578,
 679: 11175,
 680: 16848,
 681: 8372,
 682: 11234,
 683: 13690,
 684: 10972,
 685: 7604,
 686: 16788,
 687: 13239,
 688: 6906,
 689: 4157,
 690: 8348,
 691: 2318,
 692: 6574,
 693: 4678,
 694: 1,
 695: 970,
 696: 15956,
 697: 4959,
 698: 13037,
 699: 4748,
 700: 10471,
 701: 4023,
 702: 8035,
 703: 13019,
 704: 3483,
 705: 2470,
 706: 547,
 707: 3054,
 708: 13923,
 709: 7041,
 710: 9483,
 711: 14218,
 712: 10121,
 713: 14268,
 714: 14893,
 715: 261,
 716: 17011,
 717: 14217,
 718: 13853,
 719: 480,
 720: 4345,
 721: 5148,
 722: 11925,
 723: 2482,
 724: 7735,
 725: 748,
 726: 15789,
 727: 5380,
 728: 8813,
 729: 7491,
 730: 6664,
 731: 17026,
 732: 13255,
 733: 4777,
 734: 4496,
 735: 3592,
 736: 3632,
 737: 7271,
 738: 12679,
 739: 17372,
 740: 13498,
 741: 62,
 742: 1822,
 743: 11576,
 744: 4760,
 745: 16275,
 746: 13524,
 747: 1508,
 748: 15482,
 749: 11584,
 750: 17405,
 751: 8160,
 752: 2040,
 753: 12106,
 754: 1262,
 755: 9638,
 756: 3511,
 757: 12105,
 758: 16082,
 759: 10379,
 760: 16931,
 761: 9016,
 762: 10576,
 763: 10294,
 764: 16722,
 765: 4312,
 766: 15742,
 767: 9328,
 768: 5245,
 769: 6167,
 770: 16787,
 771: 5712,
 772: 882,
 773: 1283,
 774: 6633,
 775: 14517,
 776: 2615,
 777: 804,
 778: 11550,
 779: 12850,
 780: 4850,
 781: 5202,
 782: 9372,
 783: 15277,
 784: 12114,
 785: 6311,
 786: 8799,
 787: 12167,
 788: 329,
 789: 8046,
 790: 13797,
 791: 7007,
 792: 9850,
 793: 8790,
 794: 2738,
 795: 6867,
 796: 10295,
 797: 2260,
 798: 14312,
 799: 3067,
 800: 17218,
 801: 6635,
 802: 10356,
 803: 10093,
 804: 777,
 805: 6898,
 806: 14258,
 807: 3880,
 808: 7633,
 809: 13736,
 810: 6008,
 811: 14137,
 812: 1620,
 813: 7296,
 814: 1113,
 815: 6286,
 816: 10404,
 817: 12931,
 818: 7613,
 819: 2376,
 820: 995,
 821: 9806,
 822: 4979,
 823: 10291,
 824: 17066,
 825: 8958,
 826: 16180,
 827: 10237,
 828: 5113,
 829: 11702,
 830: 12575,
 831: 12862,
 832: 12023,
 833: 8232,
 834: 12354,
 835: 12576,
 836: 52,
 837: 1857,
 838: 7017,
 839: 12200,
 840: 2525,
 841: 7965,
 842: 13587,
 843: 16992,
 844: 2856,
 845: 221,
 846: 9469,
 847: 3502,
 848: 5278,
 849: 13008,
 850: 13437,
 851: 4956,
 852: 5903,
 853: 10810,
 854: 2231,
 855: 3188,
 856: 3325,
 857: 14607,
 858: 4617,
 859: 15647,
 860: 3191,
 861: 8059,
 862: 11265,
 863: 11406,
 864: 10812,
 865: 14095,
 866: 8461,
 867: 13112,
 868: 16040,
 869: 16779,
 870: 13891,
 871: 16895,
 872: 10729,
 873: 10993,
 874: 4853,
 875: 8649,
 876: 8125,
 877: 2077,
 878: 5872,
 879: 10615,
 880: 4385,
 881: 12540,
 882: 772,
 883: 3796,
 884: 8971,
 885: 9328,
 886: 6134,
 887: 9939,
 888: 3996,
 889: 11810,
 890: 6326,
 891: 6649,
 892: 16186,
 893: 13581,
 894: 10102,
 895: 7047,
 896: 15105,
 897: 645,
 898: 9741,
 899: 7282,
 900: 4663,
 901: 4500,
 902: 8403,
 903: 2843,
 904: 11339,
 905: 15379,
 906: 10693,
 907: 12978,
 908: 15421,
 909: 16017,
 910: 1904,
 911: 2165,
 912: 14980,
 913: 8967,
 914: 3396,
 915: 13213,
 916: 2220,
 917: 12776,
 918: 3935,
 919: 17725,
 920: 8284,
 921: 7919,
 922: 7384,
 923: 5115,
 924: 17121,
 925: 14372,
 926: 17240,
 927: 2249,
 928: 3051,
 929: 4478,
 930: 17208,
 931: 8174,
 932: 8257,
 933: 1762,
 934: 7919,
 935: 2575,
 936: 5168,
 937: 11090,
 938: 15961,
 939: 9173,
 940: 5607,
 941: 9405,
 942: 17481,
 943: 7166,
 944: 11973,
 945: 1308,
 946: 5193,
 947: 16246,
 948: 2364,
 949: 13676,
 950: 8458,
 951: 16423,
 952: 17535,
 953: 12774,
 954: 843,
 955: 9998,
 956: 1532,
 957: 5932,
 958: 6148,
 959: 14228,
 960: 9121,
 961: 171,
 962: 11323,
 963: 15997,
 964: 7695,
 965: 12912,
 966: 5722,
 967: 11109,
 968: 13079,
 969: 8205,
 970: 14581,
 971: 1126,
 972: 4211,
 973: 2387,
 974: 9334,
 975: 276,
 976: 12855,
 977: 5564,
 978: 8261,
 979: 8362,
 980: 9445,
 981: 3783,
 982: 14119,
 983: 3808,
 984: 16741,
 985: 5939,
 986: 17707,
 987: 13681,
 988: 11075,
 989: 17303,
 990: 10084,
 991: 1737,
 992: 12919,
 993: 16388,
 994: 14646,
 995: 9570,
 996: 12942,
 997: 6200,
 998: 15880,
 999: 16017,
 1000: 1225,
 ...}

In [36]:
movie_titles_df.sample(15)

          Year_of_Release                                       Movie_Title
Movie_ID
684                1995.0                             Visitors of the Night
17529              2004.0                               Bright Young Things
1994               2005.0                              The L Word: Season 2
13900              2000.0                  Nightwalker #2: Eternal Darkness
13091              1993.0                                            Malice
13009              2004.0                                Yoga: Step by Step
3990               1991.0                                      One Good Cop
3578               2005.0                     Motley Crue: Carnival of Sins
7949               2004.0                    WWE Divas: South of the Border
11879              2000.0                                 Seth the Hard Way
3                  1997.0                                         Character
15426              1995.0  Michael Jackson: Video Greatest Hits: History #2
17002              1997.0                                    Murder at 1600
5488               1977.0                              Kentucky Fried Movie
10397              2005.0                Wild Things: Diamonds in the Rough

In [37]:
movieID_GR = 15426

print("Name of the movie -------> "+str(movie_titles_df.loc[movieID_GR][1]))

# print("Number of ratings by users for movie {} is {}".format(movie_titles_df.loc[movieID_GR][1], TrainUISparseData[:,movieID_GR].getnnz()))

# # Meaning of "[:,17765]" means get all the values of column "17765".
# # "getnnz()" give count of explicitly-stored values (nonzeros).

# print("Number of similar movies to {} is {}".format(movie_titles_df.loc[movieID_GR][1], m_m_similarity[movieID_GR].count_nonzero()))

Name of the movie -------> Michael Jackson: Video Greatest Hits: History #2

In [104]:
movie_titles_df.loc[similar_movie_pickle[movieID_GR]]

Year_of_Release                      2004.0
Movie_Title        Michael Jackson: The One
Name: 2419, dtype: object